<%- include("partials/_header.ejs") %>

<section id="login-page">
   <div class="wrapper">
      <div>
         <h1>Welcome to Book Notes</h1>
         <a href="/auth/google">
            <img src="images/google-icon.png" alt="" width="20" height="20">
            Sign in with Google
         </a>
      </div>
      <p>
          By continuing you are accepting all cookies
      </p>
   </div>
</section>

<%- include("partials/_footer.ejs") %>