@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
   --main-bg-color: #202124;
   --color-grey-dark: #181d22;
   --color-grey: #3f4042;
   --color-light: #EEEEEE;
   --color-orange: #e45f3a;
   --color-yellow: #FFD700;

   --text-color-primary: white;
   --text-color-secondary: rgba(255, 255, 255, 0.7); 

   --font-family: "Inter", sans-serif;
}

*{
   margin: 0;
   padding: 0;
   color: var(--text-color-primary);
   font-family: var(--font-family);
   accent-color: var(--color-grey);
}

body{
   min-height: 100lvh;
   background: #0c1116;
}

a{
   text-decoration: none;
}
ul{
   list-style: none;
}
.wrapper{
   padding: 2rem 4vw;
   max-width: 1920px;
   margin: 0 auto;
}