@import url('./styleVariables.css');

a{
   text-decoration: none;
}
#wrapper{
   padding: 1.5rem 4vw;
}
#contentWrapper{
   min-height: 70dvh;
   height: max-content;
   backdrop-filter: brightness(1.3);
   border-radius: 5px;
   padding: 0.75rem;
   display: flex;
   gap: min(4vw, 20px);
   margin-bottom: min(20px, 8vw);
}
#imgWrapper{
   width: 260px;
   height: 280px;

   img{
      object-fit: contain;
      width: 100%;
      height: 100%;
   }
}
#book-title {
   font-size: min(6vw, 1.75rem);
   font-weight: bold;
   margin: 4px 0;
}
#book-author {
   font-size: 1rem;
   font-weight: 300;
}
#book-year {
   font-size: 1rem;
   font-weight: 300;
}
#textWrapper{
   width: 100%;
}
#details{
   padding-bottom: 1rem;
   margin-bottom: 1rem;
   border-bottom: 1px solid white;
}
#rating, #review{
   font-size: 1.25rem;
   font-weight: 400;
   margin-bottom: 0.5rem;
}
#ratingInput{
   width: 6ch;
   padding: 0.25rem;
   text-align: center;
   border: 0;
   border-radius: 5px;
   font-size: 1.125rem;
   accent-color: var(--bg-primary);
}

/* <<<AI generated>>> removes the up and down buttons for rating */
#ratingInput::-webkit-inner-spin-button, #ratingInput::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
#ratingInput {
  -moz-appearance: textfield;
}
/* <<<  >>> */

#reviewInput{
   resize: none;
   width: 96%;
   min-height: 180px;
   height: auto;
   padding: 0.35rem;
   border: 0;
   border-radius: 5px;
   accent-color: var(--bg-primary);
}
#ratingInput, #reviewInput{
   background-color: transparent;
   backdrop-filter: brightness(1.5);
}

.btn{
   font-size: 0.85rem;
   background-color: var(--background-color);
   filter: brightness(1.5);
   border-radius: 4px;
   padding: 0.25rem 1.25rem; 
   border: 0;
   margin-right: 4px;

   transition: background-color 0.3s ease,
               color 0.3s ease,
               filter 0.3s ease;

   &:hover{
      cursor: pointer;
   }
}
#submitBtn{
   background-color: transparent;
   background-color: #217e4c;
   color: white;
}
#submitBtn:hover{
   filter: contrast(1.1);
}
#cancelBtn{
   filter: contrast(0.5);
   background-color: transparent;
   border: 1px solid var(--bg-secondary);
}
#cancelBtn:hover{
   background-color: var(--bg-secondary);
   filter: contrast(1);
}

@media (max-width: 768px){
   #contentWrapper{
      flex-direction: column;
      align-items: center;
   }
   #reviewInput{
      width: 100%;
   }
}