#wrapper{
   padding: 1.5rem 4vw;
}
.btnWrapper{
   position: relative;
   width: max-content;
   height: max-content;
   user-select: none;

   font-size: 0.875rem;
}
#sortBy, #orderBy{
   background-color: var(--bg-primary);
   filter: brightness(0.8);
   border-radius: 10px;
   padding: 0.25rem 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   gap: 12px;
   /* width: 122px; */

   svg{
      transition: transform 0.3s ease;
   }
   &:hover{
      cursor: pointer;
      filter: brightness(1);
   }
}

#buttons{
   display: flex;
   /* flex-wrap: wrap; */
   gap: 0.75rem;
   padding-bottom: 1rem;
   margin-top: 20px;
   margin-bottom: 1rem;
   border-bottom: 1px solid white;
}
#sortDropDown, #orderDropDown{
   width: 100%;
   list-style: none;
   background-color: var(--bg-primary);
   box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4),
               -2px 0 5px 0 rgba(0, 0, 0, 0.4);
   position: absolute;
   left: 0;
   margin-top: 5px;
   border-radius: 10px;
   filter: brightness(0.9);
   z-index: 1;

   display: none;
}
#sortDropDown li, #orderDropDown li{
   min-width: 48px;
   padding: 0.25rem 1.25rem;
   transition: backdrop-filter 0.3s ease;

   &:hover{
      backdrop-filter: brightness(0.8);
      cursor: pointer;
   }
}
@media (max-width: 332px){
   #buttons{
      gap: 6px;
   }
   #sortBy, #orderBy{
      gap: 6px;
   }
}

#AllBooksWrapper{
   columns: 10 340px;
}
.bookWrapper{
   position: relative;
   display: flex;
   border-radius: 5px;
   margin-bottom: 20px;
   accent-color: var(--bg-secondary);
   backdrop-filter: brightness(1.4);
   padding: 8px;
   gap: 12px;

   max-width: 100%;
   break-inside: avoid;
}
.bookWrapper:hover{
   box-shadow: 0 0 4px 0 var(--bg-secondary);
}
.bookWrapper:hover .imgWrapper img{
   transform: scale(1.1);
}
.leftContainer{
   text-align: center;
}
.rightContainer{
   width: 100%;
}
.imgWrapper{
   width: 120px;
   height: 160px;
   overflow: hidden;

   img{
      object-fit: contain;
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease;
   }
}
.title{
   font-size: 1.25rem;
   font-weight: bold;
}
.year{
   font-size: 0.875rem;
   filter: brightness(0.8);
}
.author{
   margin: 8px 0;
   font-size: 0.75rem;
   font-weight: normal;
   filter: brightness(0.8);
}
.rating{
   margin-top: 16px;
   margin-bottom: 4px;
   font-size: 1.25rem;
   font-weight: 400;
   color: #FFD700;

   svg{
      fill: #FFD700;
   }
}
.review{
   font-size: 0.75rem;
   filter: brightness(0.8);
   width: 100%;
}

@media (max-width: 425px){
   .bookWrapper{
      flex-direction: column;
      display: block;
   }
}

/* max char = 200*/