#contentWrapper{
   margin-top: 8px;
   margin-bottom: 8px;
}

.btn{
   display: inline-block;
   text-align: center;
   padding: 12px;
   border-radius: 50%;
}
#editBtn{
   background-color: #97691e;
   color: white;
}
#editBtn:hover{
   filter: contrast(1.1);
}

#deleteBtn{
   background-color: #de364a;
   color: white;
}
#deleteBtn:hover{
   filter: contrast(1.1);
}
#dateModified{
   filter: brightness(0.6);
   font-size: 0.75rem;
}